#mapid { 
  height: 400px;
  width: 400px;
}
 
 

.estiloIconos {
  color: #cb2821; 
}

.estiloIcon {
  color: #ff6600; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Ubicacion control de opacidad */
.column {
	float: left;
	width: 40%,
}	
	/* Clear floats after the columns */
.row:after{
	content: "";
	display: table;
	clear: both;
}